<footer class="page-footer">

<div class="footer">

  <div class="footer-logo">
    <%= image_tag "logosmallwhite.png", width: "800", height: "auto", alt: "logo" %>
  </div>
  <p></p>
<h6>© 2018 Copyright: BeachBox</h6>
</div>

</footer>