<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="display-4"><img src="assets/logosmall.png" alt="logo"></div>
    <div class="lead"><h2>This could be you.<h2></div>
    </div>
</div>

<!-- BUILD A BOX BUTTON // LOGIN  // REGISTER -->

<div class=container1>
  <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal">
  Build-A-BeachBox
  </button>
</div>

<%= render partial: "users/login_signup_modal" %>

<!-- CUSTOMER REVIEW -->

<%= render partial: "users/customer_review" %>

<!-- CONTACT US FORM -->

<%= render partial: "users/contact_form" %>

