<div class="panel panel-default" >
  <div class="panel-heading" >
    <h4 class="panel-title" >
      <div data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Who is going to the beach?
      </div>
    </h4>
  </div>
  <div id="collapse1" class="panel-collapse collapse in">
    <div class="panel-body" >
      <button type="button" class="btn btn-primary btn-lg btn-block" id="box_family">Family</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block" id="box_adult">Only Adults</button>
    </div>
  </div>
</div>
