<div class="card-header" id="headingOne" >
  <div class="panel-heading" >
    <h4 class="panel-title" >
      <div data-toggle="" aria-expanded="true" aria-controls="collapseOne">
        Who is going to the beach?
      </div>
    </h4>
  </div>
 <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
   <div class="card-body" id="collapse1">
      <button type="button" class="btn btn-warning btn-lg btn-block" id="box_family">Family</button>
      <button type="button" class="btn btn-outline-warning btn-lg btn-block" id="box_adult">Only Adults</button>
    </div>
  </div>
</div>
