<div class="panel panel-default" >
  <div class="panel-heading" >

    <h4 class="panel-title">
      <div data-toggle="" data-parent="#accordion" href="#collapse2">
        How many people?</div>
      </h4>

    </div>

    <!-- Panel 2 body -->
    <div id="collapse4" class="panel-collapse collapse" >
      <div class="panel-body" >
Hello

        </div>
      </div>
    </div>
