<div class="panel panel-default">
  <div class="panel-heading" >
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Here's what you need...</a>
      </h4>
    </div>

    <!-- Panel 3 body -->
    <div id="collapse3" class="panel-collapse collapse" id="third_panel">
      <div class="panel-body" >

        <div class="suncreenchild"><%= image_tag("sunscreenTEST.jpg") %>
          <div class="form-group">
            <label class="control-label col-md-5"><strong>Children Sunscreen</label>
              <div class="input-group number-spinner col-md-7">
                <span class="input-group-btn">
                  <a class="btn btn-danger" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></a>
                </span>
                <input type="text" disabled name="sunscreen-child_qty" id="sunscreen-child_qty" class="form-control text-center" value="1" max=9 min=0>
                <span class="input-group-btn">
                  <a class="btn btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></a>
                </span>
              </div>
            </div>
          </div>

          <div class="suncreenadult"><%= image_tag("sunscreenadultTEST.jpg") %>
            <div class="form-group">
              <label class="control-label col-md-5"><strong>Adult Sunscreen</label>
                <div class="input-group number-spinner col-md-7">
                  <span class="input-group-btn">
                    <a class="btn btn-danger" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></a>
                  </span>
                  <input type="text" disabled name="sunscreen-adult_qty" id="sunscreen-adult_qty" class="form-control text-center" value="1" max=9 min=0>
                  <span class="input-group-btn">
                    <a class="btn btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></a>
                  </span>
                </div>
              </div>
            </div>

            <div class="towel"><%= image_tag("towelTEST.jpg") %>
              <div class="form-group">
                <label class="control-label col-md-5"><strong>Towel</label>
                  <div class="input-group number-spinner col-md-7">
                    <span class="input-group-btn">
                      <a class="btn btn-danger" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></a>
                    </span>
                    <input type="text" disabled name="towel_qty" id="towel_qty" class="form-control text-center" value="1" max=9 min=0>
                    <span class="input-group-btn">
                      <a class="btn btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></a>
                    </span>
                  </div>
                </div>
              </div>

              <div class="chair"><%= image_tag("beachchairTEST.jpg") %>
                <div class="form-group">
                  <label class="control-label col-md-5"><strong>Chair</label>
                    <div class="input-group number-spinner col-md-7">
                      <span class="input-group-btn">
                        <a class="btn btn-danger" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></a>
                      </span>
                      <input type="text" disabled name="chair_qty" id="chair_qty" class="form-control text-center" value="1" max=9 min=0>
                      <span class="input-group-btn">
                        <a class="btn btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></a>
                      </span>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" id="box_checkout_button">Checkout</button>
              </div>
            </div>

          </div>
