<div class="panel panel-default" >
  <div class="panel-heading" >

    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        How many people?</a>
      </h4>

    </div>

    <!-- Panel 2 body -->
    <div id="collapse2" class="panel-collapse collapse" id="next-box">
      <div class="panel-body" >

        <div class="form-group">
          <label class="control-label col-md-5"><strong>Adult</strong><br> <i> (above 13)</i></label>
          <div class="input-group number-spinner col-md-7">
            <span class="input-group-btn">
              <a class="btn btn-danger" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></a>
            </span>
            <input type="text" disabled name="adult" id="adult" class="form-control text-center" value="1" max=9 min=1>
            <span class="input-group-btn">
              <a class="btn btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></a>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-5"><strong>Child</strong><br> <i> (1 - 13)</i></label>
          <div class="input-group number-spinner col-md-7">
            <span class="input-group-btn">
              <a class="btn btn-danger" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></a>
            </span>
            <input type="text" disabled name="child" id="child" class="form-control text-center" value="1" max=9 min=1>
            <span class="input-group-btn">
              <a class="btn btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="back-to-1" value='hide/show'>Back</button>
          <button type="button" class="btn btn-primary" id="entered-quantity" value='hide/show'>Next</button>

        </div>
      </div>
    </div>
