<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



  <meta charset="utf-8">
  <title>BuildBox</title>
</head>
<body>


  <div class="container">
    <div class="stepper">

        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">1</span>Build Your Box
          </div>
        </div>
        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">2</span>Delivery
          </div>
        </div>
        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">3</span>Checkout
          </div>
        </div>
      </div>
      <div class="stepper-content">

          <div>
          <p>Hello World</p>

        </div>


      </div>
    </div>
  </div>





</body>

</html>
