<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <title>BuildBox</title>
</head>
<body>

  <div class="stepper">

    <div class="stepper-step stepper-step-isValid">
      <div class="stepper-stepContent">
        <span class="stepper-stepMarker">1</span>Build Your Box
      </div>
    </div>
    <div class="stepper-step stepper-step-isActive">
      <div class="stepper-stepContent">
        <span class="stepper-stepMarker">2</span>Delivery
      </div>
    </div>
    <div class="stepper-step stepper-step-isActive">
      <div class="stepper-stepContent">
        <span class="stepper-stepMarker">3</span>Checkout
      </div>
    </div>
  </div>

<h1>Delivery Details</h1>

<div id="delivery-content">
  <div class="delivery-content"></div>
    <div id="out">
    <p><button class="btn btn-outline-info" onclick="geoFindMe()" id=#button5>Use my current location</button></p>
    </div>
    <div class="google_map">
      <div id="map"></div>
    </div>

<div id="addressinputs">
        <form action = "cart/update" method="post">

              <div id="enteraddress"><font color="white"><strong>Or, enter your address:</strong></font></div>
              <br>
              <input type="text"  id="geoaddress" name="street_address" required placeholder="ex. 549, NW 28th St, Miami, FL"/>
              <br>
              <br>
              <input class="btn btn-outline-info" type="submit" value="Confirm Address & Checkout"/>
            </form>
      </div>
      <br>
      <br>
      <br>
      <div class="delivery-back-btn">
        <%= link_to '<button type="button" class="btn btn-warning" id="backtobuild">Back to Build-A-BeachBox</button>'.html_safe, '/buildbox' %>
      </div>
</div>
  </body>

</html>
