<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



  <meta charset="utf-8">
  <title>BuildBox</title>
</head>
<body>


  <div class="container">
    <div class="stepper">
      
        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">1</span>Build Your Box
          </div>
        </div>
        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">2</span>Delivery
          </div>
        </div>
        <div class="stepper-step stepper-step-isActive">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">3</span>Checkout
          </div>
        </div>
      </div>
      <div class="stepper-content">

          <div>
            <%= form_for :order do |f| %>
  Enter Address: <%= f.text_field :street_address %><br />
    <%= f.submit %>
  <% end %>
        </div>

        <p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out">



      </div>
    </div>






</body>

</html>
