<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <!-- <meta charset="utf-8"> -->
  <title>BuildBox</title>
</head>
<body>


  <div class="stepper">

      <div class="stepper-step stepper-step-isValid">
        <div class="stepper-stepContent">
          <span class="stepper-stepMarker">1</span>Build Your Box
        </div>
      </div>
      <div class="stepper-step stepper-step-isActive">
        <div class="stepper-stepContent">
          <span class="stepper-stepMarker">2</span>Delivery
        </div>
      </div>
      <div class="stepper-step stepper-step-isActive">
        <div class="stepper-stepContent">
          <span class="stepper-stepMarker">3</span>Checkout
        </div>
      </div>
    </div>



      <p><button onclick="geoFindMe()">Use my current location</button></p>
      <div id="out">




        <form action = "cart/update" method="post" >

              Please enter your address
              <br>
              <input type="text" name="street_address" required>
              <br>
              <br>
              <input type="submit"/>
            </form>


      </div>
    </div>
    <%= link_to '<button type="button" class="btn btn-primary"">Back</button>'.html_safe, '/buildbox' %>

</div>

<div class="google_map">
   <div id="map"></div>
 </div>


  </body>

  </html>
