<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

  <meta charset= "utf-8">
  <title>BuildBox</title>

</head>
<body>


  <!-- <div class="container"> -->
    <div class="stepper">

        <div class="stepper-step stepper-step-isValid">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">1</span>Build Your Box
          </div>
        </div>
        <div class="stepper-step stepper-step-isActive">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">2</span>Delivery
          </div>
        </div>
        <div class="stepper-step stepper-step-isActive">
          <div class="stepper-stepContent">
            <span class="stepper-stepMarker">3</span>Checkout
          </div>
        </div>
      </div>







      <div id="stepper-content">
        <div id="accordion1">



          <div class="card" id="accordion">

            <!-- ACCORDION PANEL 1 (family/adults)-->
            <%= render 'panel1' %>

            <!-- ACCORDION PANEL 2 (# people) -->
            <%= render 'panel2' %>

            <!-- ACCORDION PANEL 3 (cart) -->
            <%= render 'panel3' %>



          </div>


</div>

    </div>






</body>

</html>
