<div class="thank-you jumbotron-fluid">
  <div>
    <div class="">
      <p>
        <h1>Just a quick thank you for your payment!</h1>
      </p>
      <p>
        <h2>Please bear with us...</h2>
      </p>  
      <p>
        <h5>Your BeachBox will be delivered within 2 hours.</h1>
      </p>
      <div class="thank-you-btn">
        <%= link_to 'Home', root_path, class: 'btn btn-outline-info' %>
      </div>
    </div>
  </div>
</div>




