<<<<<<< HEAD
<h2>Thanks, for your payment!<strong></strong></h2>
=======
<h2>Thanks, for your payment!<strong></strong>!</h2>
>>>>>>> Geocoder
<h2>Your box will be ready soon</h2>


<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
