<div class="thank-you jumbotron-fluid">
  <div>
    <div class="">
      <p>
        <h1>Just a quick thank you for your payment!</h1>
      </p>
      <p>
        <h2>
          Your Postmates driver will be arriving shortly.
        </h2>
      </p>
      <p></p>
      <div class="thank-you-btn">        
        <img src="assets/postmatesdelivery.png" alt="logo"><br>
        <%= link_to 'Home', root_path, class: 'btn btn-outline-info' %>
      </div>
    </div>
  </div>
</div>