function geoFindMe() {

  var output = document.getElementById("out");
  $("#enteraddress").hide();
  if (!navigator.geolocation){
    output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
    return;
  }

  navigator.geolocation.getCurrentPosition(success, error);
  output.innerHTML = "<p>Locating…</p>";

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;


    output.innerHTML = " ";
    var latLng = new google.maps.LatLng(latitude, longitude);
    var marker = new google.maps.Marker({
      animation: google.maps.Animation.DROP,
      icon: 'https://www.freeiconspng.com/minicovers/red-beach-umbrella-png-12.png',
      map: window.map,
      position: latLng
    });

    window.map.setCenter(latLng);
    $('#map').fadeIn(1000);
    
    $.ajax(
      `https://us1.locationiq.org/v1/reverse.php?key=979e5fe5b2c531&lat=${latitude}&lon=${longitude}&format=json`
      // "https://us1.locationiq.org/v1/reverse.php?key=979e5fe5b2c531&lat=" + latitude + "&lon=" + longitude + "&format=json"
    ).then(function(response){
      console.log(response.display_name)
      $("#geoaddress").val(response.display_name)
    })
  }

  function error() {
    output.innerHTML = "Unable to retrieve your location";
  }





}
