// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CART PAGE VIEW */

.row{
  width: 100%;

.container{
margin: 0 auto;
position: relative;
left: 50px;
}

}
.container8 {
  margin: 0 auto;
  text-align: center;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-color: #ffc107;
  width: 30%;
}