// Place all the styles related
// to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CART PAGE VIEW */

.row{
  width: 100%;
}

.container8 {
  margin: 0 auto;
  text-align: center;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-color: #ffc107;
  width: 30%;
}

#cart-show-page{
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

#cart-show-page1{
  text-align: center;
    padding:40px;
  background-image: image-url("ocean.jpg");
  background-size: 100% 100%;
  color: white;
  font-size: 1.5em;
}

#order-count{
  max-device-width: 575px;
  align-items: center;
}

.thank-you{
  background-image: image-url("header1.jpg");
  background-size: cover;
  margin-bottom: 0;
  padding-top: 320px;
  padding-bottom: 320px;
}

 .thank-you img{
  display: block;
  margin: 0 auto;
  width: 100%;
 }

 .thank-you h1{
  text-align: center;
  font-size: 4em;
  color: #FF4E20;
 }

 .thank-you h2{
  text-align: center;
  font-size: 3em;
  color: #FF4E20;
 }

 .thank-you h5{
  text-align: center;
  font-size: 1em;
  color: white;
  font-style: italic;
 }

.thank-you-btn{
  text-align: center;
}
