// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#geoaddress{
  width:50%;
}

#addressinputs{
  margin: auto;
    width: 40%;
}

form{
  text-align: center;
}

.google_map{
  margin: auto;
    width: 50%;
}

#map{
  margin: auto;
    width: 50%;
}

#enteraddress{
  padding-top: 20px;
}

#delivery-content{
  padding:40px;
  background-image: image-url("ocean.jpg");
  background-size: 100% 100%;
}


#backtobuild{
  margin: 0 auto;
    width: 20%;
    min-width: 200px;
}

.delivery-back-btn{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}