// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ACCOUNT PROFILE PAGE */
#container6{
  padding: 170px 20px 140px;
  background-image: image-url("ocean.jpg");
  background-size: 120% 120%;
  height: 560px;
  color: white;
  font-weight: bold;
}


/* MODALS */

 .modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 300px;
    min-height: calc(100% - (.5rem * 2));
     max-width: 400px !important;
     margin: 1.75rem auto;
}

#signup-modal1{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#login-modal1{
  text-align: center;
}