<h2>Thanks, you paid <strong>$5.00</strong>!</h2>
<h2>Your box will be ready soon</h2>


<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
<%= link_to 'Track your order', pages_secret_path, class: 'btn btn-primary' %>
